/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
#body{
	padding: 0;
	margin: 0;
	max-height: 100%;
	max-width: 100%;
	
}
#container{
	max-width:100%;
	max-height: 100px;
	
}

#starting-page{
	max-width: 100%;
	background-image: url(img/1.jpg);
	height: 650px;
}
#starting-page-roditel{
	background: #CFC4C8;
	height: 650px;
}
#starting-page-obschenie{
	background-image: url(img/1.jpg);
	height: 650px;
}

#starting-page-meneger{
	background-image: url(img/1.jpg);
	height: 650px;
}
#starting-page-komunikacii{
	background-image: url(img/1.jpg);
	height: 650px;
}
#starting-page-prodavcu{
	background-image: url(img/1.jpg);
	height: 650px;
}
#conteiner{
	position: fixed;
	width: 100%;
}

#nav{
	position: fixed;
	width: 960px;
	margin-left: 130px;
	background-color:;
}

#touch-menu{
	font-size: 25px;
	padding-top:10px;
	text-decoration: none;
	margin-bottom: 10px;
	color: #E0CF97;
	display: none;

	
}
#touch-menu:hover{
	margin-bottom: 10px;
	color: white;
	display: block;
}

#menu-button{
	margin-left: 40px;
	padding-top:10px;
	font-size: 25px;
	height:60px;
	width: 200px;
	text-align: center;
	float: left;
	display: block;
	text-decoration: none;
	background-color: rgb(73, 62, 70, 0.5);
	color: #E0CF97;
	position: relative;
	border-radius: 10px;
	border-color: #FCF9D6;
}
#menu-button a{
	text-decoration: none;
	margin-bottom: 10px;
	color: #E0CF97;
	display: block;
	
	
}
#menu li:hover{
	background-color: rgb(35, 24, 32, 0.7);
}
#menu li ul li{
	padding-top:20px;
	float: none;
	position: relative;
	margin-left: 0px;
	display: none;
	background-color: rgb(73, 62, 70, 0.9);
	color: #E0CF97;
}
#menu li:hover ul li{
	display: block;
}
#submenu{
	float: none;
	top: 0px;
	height: 90px;
	left: 200px;
	position: absolute;
	display: none;
	background-color: rgb(35, 24, 32, 0.7);
	border-radius: 10px;
	border-color: #FCF9D6;
}
#submenu-button{
	height: 70px;
	border-radius: 10px;
	display: block;
}
#b2{
	padding-bottom: 20px;
	border-radius: 10px;
	border-color: #FCF9D6;
}

#b2:hover #submenu {
	display: block;
	background-color: rgb(35, 24, 32, 0.7);
}
#b3{
	padding-bottom: 20px;
	border-radius: 10px;
	border-color: #FCF9D6;
}
#b3:hover #submenu2 {
	display: block;
	position: absolute;
	background-color: rgb(35, 24, 32, 0.7);
}
#submenu2{
	height: 110px;
	width: 300px;
	float: none;
	left: 200px;
	top: 0;
	position: absolute;
	display: none;
	background-color: rgb(35, 24, 32, 0.7);
	border-radius: 10px;
	border-color: #FCF9D6;
}
#submenu2-button {
	height: 90px;
	border-radius: 10px;
	display: block;
}
#yourpsy{
	
	margin-left:170px;
	height:500px;
	width: 960px;
	text-align: center;
	position: absolute;
}
#class1{
    text-align: center;
	font-size:100px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#class2{
	text-align: center;
	font-size:30px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#button{
	padding: 10px;
	font-size: 25px;
	border-radius: 15px;
	border-color: #FCF9D6;
	background-color: rgb(252, 192, 104, 0.9);
	max-width: 500px;
	max-height: 300px;
}
#text{
	width: 960px;	
	margin-left: 13%;
	margin-right: 13%;
	text-align: justify;
	font-size: 20px;
}
#about{
	text-align: center;
	font-size:30px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}

   hr {
	width: 70px;
    border: none; /* Убираем границу */
    background-color: red; /* Цвет линии */
    color: red; /* Цвет линии для IE6-7 */
    height: 2px; /* Толщина линии */
   }


}
#class3{
	font-size:50px;
	margin-top: 10px;
	color: black;
	text-align:center;
	margin-left:100px;
}
#footer{
	width: 100%;
	height: 150px;
	background: #FCC068;
	
}
#h2{
	text-align:center;
	margin: 10px;
	font-size: 30px;
	
}
#p{
	text-align: center;
	font-size:16px;
}
#dropdoun{
padding-left: 0px;
	
}
#lili{
	padding: 100px;
}
#picture-left{
	margin-right: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#picture-right{
	margin-left: 10px;
	margin-top: 5px;
	margin-bottom: 5px;
}
#patrofsite{
	text-align: center;
	font-size:25px;
	padding: 20px;
}
#consultation{
	width: 100%;
	height: 200px;
}
#phone{
	text-align: center;
	background-color: rgb (226, 209, 153, 0.4);
	font-size: 16px;
}

@media (max-width: 868px){
#nav{
	display: none;
}
#touch-menu{ display: block;}
#button{
	padding: 5px;
	font-size: 18px;
	border-radius: 5px;
	border-color: #FCF9D6;
	background-color: rgb(252, 192, 104, 0.9);
}
#class1{
    text-align: center;
	font-size:80px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#class2{
	text-align: center;
	font-size:25px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#text{
	max-width: 600px;	
	margin-left: 13%;
	margin-right: 13%;
	text-align: justify;
	font-size: 17px;
}
#about{
	text-align: center;
	font-size:20px;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}
#menu-button{
	
	padding-top:4px;
	margin-left: 60px;
	font-size: 14px;
	height:40px;
	width: 120px;
	text-align: center;
	float: top;
	display: block;
	text-decoration: none;
	color: #E0CF97;
	position: relative;
}
}


@media (max-width: 568px){
#nav{
	display: none;
}
#touch-menu{ display: block;}
#button{
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	border-color: #FCF9D6;
	background-color: rgb(252, 192, 104, 0.9);
}
#class1{
    text-align: center;
	font-size:60px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
#class2{
	text-align: center;
	font-size:20px;
	padding-top: 5px;
	padding-left: 5px;
	padding-right: 5px;
}
#text{
	width: 300px;	
	margin-left: 13%;
	margin-right: 13%;
	text-align: justify;
	font-size: 16px;
}
#about{
	text-align: center;
	font-size:30px;
	padding-top: 15px;
	padding-left: 15px;
	padding-right: 15px;
}
#body{
	height: 4500px;
	max-width: 100%;
}
#consultation{
	width: 100%;
	height: 600px;
}
#menu-button{
	padding-top:4px;
	margin-left: 25px;
	font-size: 14px;
	height:35px;
	width: 120px;
	text-align: center;
	float: top;
	display: block;
	text-decoration: none;
	background-color: rgb(73, 62, 70, 0.9);
	color: #E0CF97;
	position: relative;
}
}
